#yin-yang {
 width: 48px;
 height: 24px;
 background: #eee;
 border-color: #404040;
 border-style: solid;
 border-width: 2px 2px 25px 2px;
 border-radius: 100%;
 position: relative;
 }
#yin-yang:before {
 content: "";
 position: absolute;
 top: 50%;
 left: 0;
 background: #eee;
 border: 9px solid #404040;
 border-radius: 100%;
 width: 6px;
 height: 6px;
}
#yin-yang:after {
 content: "";
 position: absolute;
 top: 50%; left: 50%;
 background: #404040;
 border: 9px solid #eee;
 border-radius:100%;
 width: 6px;
 height: 6px;
} 