<section>
<h2>Bookmark's</h2>
<a href="https://ichiji.social"><img src="" target="_blank"></a></li>
<a href="http://mikantookota.yukihotaru.com/"><img src="/images/banner/okota.png" target="_blank"></a>
<a href="http://flowerhouse.xria.biz/?guid=on"><img src="/images/banner/flowerhouse.gif"></a>
<a href="http://tomatosumisow.noor.jp/"><img src="/images/banner/spacecutter.png" target="_blank"></a>
<a href="https://ichiji.social"><img src="" target="_blank"></a>
<a href="http://text-revolutions.com/event/"><img src="/images/banner/text-revolutions.gif" target="_blank"></a>
<a href="http://www.comitia.co.jp/"><img src="/images/banner/comitia.png" target="_blank"></a>

</section>