{{ partial "top.html" . }}
<head prefix="og: http://ogp.me/ns#">
{{ partial "header.html" . }}
<link rel="canonical" href="{{ .Site.BaseURL }}">
<title>{{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Site.Title }}">{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}">
<meta property="og:description" content="{{ . }}">{{ end }}{{ with .Site.Author }}{{ if .avatar }}
<meta property="og:image" content="{{ .avatar | absURL }}">{{ end }}{{ end }}
{{ partial "twitter-card.html" . }}

{{ partial "json-ld-site.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main><article>
<h1>What's New</h1>

<section>
<h2>最近の記事</h2>
<ul class="title-list">
{{ range first 5 (where .Site.Pages "Section" "!=" "bookmarks") }}{{ partial "li.html" . }}{{ end }}
</ul>
</section> <!-- 最近の記事 -->

<section>
<h2>主な <a href="{{ "/tags/" | relURL }}">Tags</a> 一覧</h2>
<ul class="cloud" style="font-size:smaller;">
	{{ range $key, $value := .Site.Taxonomies.tags.Alphabetical }}{{ if ge $value.Count 20 }}<li>#<a href="/tags/{{ $value.Name | urlize }}">{{ $value.Name }}</a> ({{ $value.Count }})</li>{{ end }}{{ end }}
</ul>
</section> <!-- Tags -->

<section>
<h2>Sections 一覧</h2>
<ul class="title-list">

<li><a href="{{ "/blog/" | relURL }}"><em>[Blog] こうていかんり</em></a> <a href='{{ "/blog/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.Pages "Section" "==" "blog") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.author.name }} by {{ . }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; 生きるの頑張ってる
	</span>
</li>

<li><a href="{{ "/create/" | relURL }}"><em>[Create] 創作情報</em></a> <a href='{{ "/release/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.Pages "Section" "==" "release") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.author.name }} by {{ . }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; 依藤工夢店で行われてる創作情報について
	</span>
</li>
<li><a href="{{ "/etc/" | relURL }}"><em>[etc] 廃棄物処理場</em></a> <a href='{{ "/release/index.xml" | relURL }}' title='Feed'><i class='fas fa-rss'></i></a>
	<span style="font-size:smaller;">{{ range first 1 (where .Site.Pages "Section" "==" "release") }}
		（最終更新：<a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.author.name }} by {{ . }}{{ end }}, <time>{{ .Date.Format "2006-01-02" }}</time>）
		{{ end }}<br>&raquo; 依藤工夢店で行われてる創作で発生するゴミ入れ
	</span>
</li>



</ul>
</section> <!-- Sections -->

{{ partial "yes-banner.html" . }}
{{ partial "no-banner.html" . }}
</article></main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}